.wrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  